use_nix

# libclang.so
export LIBCLANG_PATH="$(nix-store -r $(nix-instantiate '<nixpkgs>' -A llvmPackages.libclang))/lib"
# types.h
TYPES_PATH="$(nix-store -r $(nix-instantiate '<nixpkgs>' -A llvmPackages.clang.libc.dev))/include"
# stddef.h
STD_PATH="$(nix-store -r $(nix-instantiate '<nixpkgs>' -A llvmPackages.clang))/resource-root/include"


export BINDGEN_EXTRA_CLANG_ARGS="-I $TYPES_PATH -I $STD_PATH"
 
